#todo-error{
  color: red;
  font-size: 2em;
}
#bg-image{
    /* background-color:black; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}
#weather{
  text-align: center;
  font-weight:bolder;
  font-size:20px;
  background-color:rgba(0, 0, 0, 0.445);
  color:rgb(247, 247, 247);
  text-shadow: -1px -1px black;
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 10vh;
  border-radius: 0 0 0 25%;
  
}
#clock{
  text-align: center;
  font-weight:bolder;
  font-size:40px;
  color:rgb(247, 247, 247);
  text-shadow: -1px -1px black;
  padding-top: 5vh;
  min-height: 30vh;
}
#quote{
  text-align: center;
  font-weight:bolder;
  color:rgb(247, 247, 247);
  text-shadow: -1px -1px black;
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 10vh;
  background-color:rgba(0, 0, 0, 0.445);
  /* border-radius: 15%; */
}
#todolist{
  text-align: center;
  font-weight:bolder;
  font-size:20px;
  color:rgb(247, 247, 247);
  text-shadow: -1px -1px black;
  padding-top: 5vh;
  min-height: 25vh;
  /* background-color:rgba(0, 0, 0, 0.445); */

}