#todo-error{
  color: red;
  font-size: 2em;
}
#bg-image{
    /* background-color:black; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    max-height: 100%;
}
#weather{
  text-align: center;
  font-weight:bolder;
  font-size:20px;
  background-color:rgba(0, 0, 0, 0.445);
  color:rgb(247, 247, 247);
  text-shadow: -1px -1px black;
  padding-top: 2vh;
  padding-bottom: 2vh;
  min-height: 10vh;
  border-radius: 0 0 0 25%;
  
}
#clock{
  text-align: center;
  font-weight:bolder;
  font-size:40px;
  color:rgb(247, 247, 247);
  text-shadow: -1px -1px black;
  padding-top: 5vh;
  min-height: 30vh;
}
#quote{
  text-align: center;
  font-weight:bolder;
  color:rgb(247, 247, 247);
  text-shadow: -1px -1px black;
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 10vh;
  background-color:rgba(0, 0, 0, 0.445);
  border-radius: 25% 25% 0 0;
}
#todolistr{
  text-align: center;
  font-weight:bolder;
  font-size:20px;
  color:rgba(255, 255, 255, 0.479);
  text-shadow: -1px -1px black;
  padding-top: 5vh;
  min-height: 25vh;
  background-color:rgba(0, 0, 0, 0.445);
  border-radius: 0 0 25% 0;

}

#todolistl{
  text-align: center;
  font-weight:bolder;
  font-size:20px; 
  color:rgba(255, 255, 255, 0.479);
  text-shadow: -1px -1px black;
  padding-top: 5vh;
  padding-right:10vw;
  min-height: 25vh;
  background-color:rgba(0, 0, 0, 0.445);
  border-radius: 0 0 0 25%;

}
#description{
  background-color: rgba(0, 0, 0, 0.445);
}
button.myButton {
	-moz-box-shadow:inset 0px -4px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px -4px 3px 0px #91b8b3;
	box-shadow:inset 0px -4px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:7px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#e0d5e0;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 5px;
	text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
  padding-top:2vh;
  padding-bottom:2vh;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}
.formbox{
  background-color:black;
}
.strikethrough{
  text-decoration: line-through;
}

